# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
*.pycachefile

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
config.go
config.json

# macOS
.DS_Store
.AppleDouble
.LSOverride
ehthumbs.db
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Compiled binaries
*.com
*.class
*.dll
*.exe
*.o
*.so
*.test

# Logs, data and crash reports
*.log
*.crash
data/
downloaded_metadata/
downloaded_metadata_new/
labelers_metadata/
sample_metadata/
sample_posts/ 
new_metadata/
similarity_results.csv
similarity_results.csv.zip
feeds_posts_with_labels.csv 

# Temporary files
*.swp
*~

# Node.js / Express
node_modules/
node_modules 2/
npm-debug.log
yarn-error.log
playground/*
downloaded_posts/

# Compiled TypeScript
/dist/
*.js.map

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env

# React / Create React App
/build/
/.pnp/
.pnp.js

# Files not to ignore 
!playground/playground.ipynb
!playground/temp.ipynb
!playground/feed_generators_processor_db
!playground/paper_1_plots.ipynb
!playground/starter_packs.ipynb
!playground/notebooks/
!classified_posts/


# Large files
dids_and_paths/
logs/
feeds_posts_with_labels.csv
feed_generator_likes.csv
filtered_likes.csv
starter_pack_feed_generator_counts_new.csv
starter_pack_additions_deletions.csv
neutral_posts.csv
weekly_user_activity.csv
starter_pack_feed_generator_counts.csv
starter_pack_users.csv
positive_posts.csv
starter_pack_mentions_in_posts.csv
weekly_user_activity.csv
starter_pack_feed_generator_counts.csv
starter_pack_feed_generator_counts_new.csv
filtered_likes.csv
feed_generator_likes.csv
starter_pack_users.csv
starter_pack_mentions_in_posts.csv
starter_pack_additions_deletions.csv./.git/objects/fa/d844161365f640e7bf327639732e4a9aedf19b
# ./playground/starter_packs.ipynb
# ./playground/processed_posts_with_sentiment.csv
feeds_posts_with_labels.csv
starter_pack_feeds.csv
feed_generator_likes.csv
filtered_likes.csv
starter_pack_feed_generator_counts_new.csv
starter_pack_additions_deletions.csv
starterpacks.csv
starterpacks_newer.csv
neutral_posts.csv
classification_process.log
weekly_user_activity.csv
starter_pack_feed_generator_counts.csv
starter_pack_users.csv
positive_posts.csv
starter_pack_mentions_in_posts.csv
classification_process_2.log
dids_and_paths.csv
starter_pack_additions_deletions.csv
starter_pack_feed_generator_counts_new.csv
weekly_user_activity.csv
test-repo.json
descriptions.csv
filtered_uris.csv
output_with_feed_type.csv
profiles.csv
profiles_with_academic_keywords.csv
profiles_with_academic_keywords_first_10000.csv
indexing_delay_results.csv
feed_generators.sql
classified_negative_posts_now.csv
classified_negative_posts_tests.csv
classified_neutral_posts.csv
classified_neutral_posts.csv
classified_positive_posts_updated.csv
starterpacks_with_classifications_istanbul_1.csv
